
/* Базовый стиль для кнопки */
/* .button {
  padding: 14px 10px;
  font-size: 18px;
  line-height: 24px;
  color: var(--white-color);
  background-color: var(--primary-color);
  border-radius: 32px;
  outline: none;
  cursor: pointer;
  transition: var(--transition-button);
}

/* Стиль для кнопки с контуром */
/* .button-outline {
  padding: 14px 10px;
  font-size: 18px;
  line-height: 24px;
  color: var(--primary-color);
  background-color: transparent;
  border: 1px solid var(--primary-color);
  border-radius: 32px;
  outline: none;
  cursor: pointer;
  transition: var(--transition-button);
}

.button:hover {
  background-color: var(--secondary-color);
  color: var(--white-color);
} */

/* Hover для кнопки с контуром */
/* .button-outline:hover {
  background-color: var(--secondary-color);
  color: var(--white-color);
  border-color: var(--secondary-color);
} */

.info-link {
  text-decoration: underline;
  color: var(--primary-color);
  cursor: pointer;
}

.auth {
  background: url('../../images/bg-auth.jpg') center center / cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.auth__title {
  margin-bottom: 40px;
  text-align: center;
  color:var(--white-color)
}

.auth__inner {
  min-width: 540px;
  background: var(--white-color);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding:  40px;
}

.auth__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  width: 100%;
}

.auth__form input {
  width: 100%;
  padding: 16px 10px;
  font-size: 16px;
  line-height: 24px;
  font-family: var(--font-family);
  background-color: var(--white-color);
  border: 1px solid var(--gray-200-color);
  border-radius: 12px;
  outline: none;
}

.auth__form input:focus {
  background-color: var(--gray-100-color);
}

.auth__input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Стиль для лоадера */
.loader {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-top: 1px solid ;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  margin-left: 8px;
}

.loader-white {
  border-top-color: var(--white-color);
}

.loader-black {
  border-top-color: var(--black-color);
}

/* Анимация вращения */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.hidden,
.hidden-checkbox {
  display: none !important;
}
.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 1;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.auth__info {
  display: block;
}

.auth__info-link {
  margin-left: 5px;
}

.auth__info-link:hover {
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__title {
  color: var(--white-color);
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}

@media (max-width: 768px) {
  .container {
    background-size: cover;
    height: auto;
    min-height: 100vh;
  }

  .auth__inner {
    min-width: 400px;
    padding: 60px 30px;
  }

  .main__title {
    font-size: 40px;
  }

  .button,
  .button-outline {
    padding: 12px 8px;
    font-size: 16px;
  }

  .auth__form input {
    padding: 14px 8px;
    font-size: 14px;
  }

  .header {
    padding: 30px 50px;
  }
}

@media (max-width: 480px) {
  .container {
    background-size: cover;
    height: auto;
    min-height: 100vh;
  }

  .auth__inner {
    min-width: 100%;
    padding: 40px 20px;
    border-radius: 16px;
  }

  .main__title {
    font-size: 32px;
  }

  .button,
  .button-outline {
    padding: 10px 6px;
    font-size: 14px;
  }

  .auth__form input {
    padding: 12px 6px;
    font-size: 14px;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  .auth__info {
    text-align: center;
  }

  .auth__info-link {
    display: block;
    margin-top: 10px;
  }
}

.error__inner {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  border-radius: 12px;
  border: 1px solid rgb(169, 42, 42);
  align-self: center;
  text-align: center;
  padding: 10px 20px;
}


/* главная страница */

.container__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  max-width: 1560px;
  padding: 0 10px;
}