.info-link {
  text-decoration: underline;
  color: var(--primary-color);
  cursor: pointer;
}

.container__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  max-width: 1560px;
  padding: 32px 10px;
  margin: 0 auto;
}

.main__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__title {
  max-width: 245px;
}

.main__button {
  position: absolute;
  top: 57%;
  left: 30%;
}