.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 99px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease, color 0.3s ease;
  padding: 0.75rem 1.5rem;
  font-weight: 600;
}

.button--circle {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 1.2rem;
}

.button svg {
  margin-right: 6px;
}

.button--md {
  padding: 16px;
  font-size: 16px;
  line-height: 20px;
}

.button--sm {
  padding: 6px 8px;
  font-size: 16px;
  line-height: 20px;
}

.button--xs {
  padding: 6px 6px;
  font-size: 14px;
  line-height: 20px;
}

.button--hero {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  padding: 0;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.button--hero:hover {
  transform: scale(1.1);
}

.button--primary {
  background-color: var(--primary-color);
  color: var(--white-color);
  fill: var(--white-color);
}

.button--primary:hover {
  background-color: var(--indigo-600-color);
}

.button--ghost {
  background-color: var(--titan-white-color);
  color: var(--primary-color);
}

.button--ghost:hover {
  background-color: var(--indigo-600-color);
  background-color: var(--primary-color);
  color: var(--white-color);
}

.button--red {
  background-color: var(--red-200-color);
  color: var(--red-500-color);
  fill:  var(--red-500-color);
}

.button--red:hover {
  background-color: var(--red-500-color);
  color: var(--white-color);
  fill: var(--white-color);
}

.button--red[disabled] {
  background-color: var(--red-200-color);
  color: var(--red-300-color);
  cursor: not-allowed;
}

.button--primary[disabled], .button--ghost[disabled] {
  background-color: var(--titan-white-color);
  color: var(--muted-color);
  cursor: not-allowed;
}
